@model RunGroopWebApp.Models.Race
@{
    ViewData["Title"] = "Race Details Page";
}

<div class="text-center">
    <h1 class="display-4">Race Details Page</h1>
      <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntryFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryFee)
        </dd>
    </dl>
</div>
